{% extends 'base.html' %}

{% block body %}

<pre class="container text-white">
<h4 class="text-center text-white"> ABOUT US </h4>
TiksPorn is not TIKTOK. We do not assign a logo, brand, or images to TikTok. The TikTok trademark is the property of the owners of this brand and the promoted brand has nothing to do with our site. We are a completely separate project from TikTok. TiksPorn is more than the official version of TikTok, in which there is no erotica, hot porn. We have created an impressive selection of porn videos, constantly updated in the unique adult project TikTok 18+ Instagram and Telegram. What is TiksPorn?

These are short porn videos or videos of an erotic nature. Especially for you, they will dance, seduce sexy tiktokers. You can become a member of the super cool erotic challenge. TiksPorn an adult-only video platform that has collected a wide range of adult content. The logos and brands mentioned on our website are the property of their respective owners. TikTok is not our partner. TiksPorn is an independent project, completely separate from TikTok application.

Thanks Behalf,

Antor Mahmud
Founder & CEO of TiksPorn

</pre>

<hr class="bg-dark">
{% endblock %}