{% extends 'base.html' %}


{% block body %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  You need to login first for giving like on any video. click the menu bar at top right side you will get signup and login option.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr class="bg-dark my-5">
<hr class="bg-dark my-5">
<hr class="bg-dark my-5">
<hr class="bg-dark my-5">
<hr class="bg-dark my-5">
{% endblock %}