{% extends 'base.html' %}


{% block body %}



  <div class="container">
  <h5 class="text-white text-center"> Category Videos </h5>
  <hr>
    <div class="row">
   {% for t in tg %}
   <div class="col-6">
  <div class="border-0 my-2 bg-dark card" style="width: 10rem;">
  <a href="{% url 'watch-video' t.id %}"><img class="card-img-top" src="{{t.thumbnail.url}}" alt="Card image cap"> </a>
  <div class="card-body">
    <a class="dn" href="{% url 'watch-video' t.id %}"><p class="d text-white">{{t.title}}</p></a>
    <div class="text-info">
    {{t.pub_date}}
    </div>
  </div>

 </div>
   </div>
 {% endfor %}
    </div>
    
    <div>







{% endblock %}